body {
  background-color: white;
  margin: 0;
  padding: 20px;
}

label {
  display: inline-block; 
  margin-bottom: 5px;
  color: #ff0000;
  margin-right: 10px; 
}

select, input[type='text'], input[type='color'] {
  width: 50%;
  display: inline-block; 
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  vertical-align: middle; 
}

button {
  color: #fff;
  background: #0073e6;
  padding: 8px 8px;
  border: 2px solid #0073e6;
  border-radius: 4px;
}

.form-group {
  display: block;
  clear: both;
  margin-bottom: 15px;
}
